html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;              
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
}

.UserInput {
  text-align: center;
  font-size: xx-large;
  background-color: lightgray;
}

.WeatherData {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: auto;
  font-size: large;
  width: 100%;

  color: white; 

  font-size: xx-large;
}

.WeatherData > P {
  font-size: large;
}

.hourlyForecast {
  color: white;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  transform: scale(1.3);
}

.hourInterval {
  width: 100%;
  display: flex;
  justify-content: space-around;


  flex-wrap: wrap;
  background-color: lightblue;
  color: #282c34;
  font-weight: bold;
}

.fiveDay {
  color: white;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60vh;
  width: 100%;
}

.fiveDay > div {
  background-color: black;
  border-radius: 25%;
  padding: 20px;
}

.layerControls {
  margin-top: 25px;
  padding: 5px;
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  font-size: large;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.layerControls > label {
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  justify-content: left;
}

.legend {
  width: 80%;
  background-color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-radius: 30px;;
}

.legendBar {
  position: relative;
  height: 15px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.legendLabels {
  position: relative;
  height: 20px;
}

.legendLabels span {
  position: absolute;
  transform: translateX(-50%);
  font-size: 10px;
}

.navbar {
  justify-content: center;
  background-color: #333;
  font-family: Arial;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navbar a {
  margin-left: 18px;
  margin-right: 18px;
  color: white;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 24px;

  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a.active {
  background-color: whitesmoke;
  color: navy;
  transform: scale(1.2);
  font-weight: Bolder;
}

.navbar a:hover {
  background-color: red;
  transform: scale(1.2);
  font-weight: Bolder;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex: 1;
  background-color: #282c34;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
