.App {
  text-align: center;
  height: 83vh;
  background-color: #282c34;
}

.UserInput {
  padding: 2vh;
  text-align: center;
  font-size: xx-large;
}

.WeatherData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 66vh;

  color: white; 

  font-size: xx-large;
}

.image {
  transform: scale(1.8);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex: 1;
  background-color: #282c34;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
